@page
@model web_invoice_generator.Pages.Providers.EditModel
@{
}

<br>
<h2>Redaguoti</h2>


@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dissmiss="alert" aria-label="Close"></button>
	</div>
}

<form method="POST">
	@* provider id *@	
	<input type="hidden" name="id" value="@Model.providerInfo.id"></input>
	<div class="row mt-3 mb-5">
		<label class="col-sm-3 col-form-label m-1">Tipas</label>
		<div class="col-sm-6 m-1">
			<input type="text" class="form-control" name="type" value="@Model.providerInfo.type"></input>
			@*if field empty(error), filling form with value atribute with existing info *@
		</div>	

		<label class="col-sm-3 col-form-label m-1">Pavadinimas</label>
		<div class="col-sm-6 m-1">
			<input type="text" class="form-control" name="name" value="@Model.providerInfo.name"></input>
		</div>

		<label class="col-sm-3 col-form-label m-1">Adresas</label>
		<div class="col-sm-6 m-1">
			<input type="text" class="form-control" name="address" value="@Model.providerInfo.address"></input>
		</div>

		<label class="col-sm-3 col-form-label m-1">Kodas</label>
		<div class="col-sm-6 m-1">
			<input type="text" class="form-control" name="code" value="@Model.providerInfo.code"></input>
		</div>

		<label class="col-sm-3 col-form-label m-1">PVM mok. kodas</label>
		<div class="col-sm-6 m-1">
			<input type="text" class="form-control" name="vat_code" value="@Model.providerInfo.vat_code"></input>
		</div>

		<label class="col-sm-3 col-form-label m-1">PVM mokėtojas</label>
		<div class="col-sm-6 m-1">
			<input type="text" class="form-control" name="vat_payer" value="@Model.providerInfo.vat_payer"></input>
		</div>

		@*if success showing confirmation that data correct *@
		@if (Model.successMessage.Length > 0)
		{
				<div class="row m-2">
						<div class="col-sm-9">
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>@Model.successMessage</strong>
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						</div>
				</div>
		}

		<div class="row m-2">
			<div class="offset-sm-3 col-sm-3 d-grid me-2">
				<button type="submit" class="btn btn-primary">Išsaugoti</button>
			</div>
			<div class="col-sm-3 d-grid">
				<a class="btn btn-outline-primary" href="/" role="button">Atšaukti</a>
			</div>
		</div>
	</div>
</form>
