@* @page means that we not using any controler  *@
@page 
@model web_invoice_generator.Pages.Providers.IndexModel
@{

}
<br>
<h2>Tiekėjų sąrašas</h2>
<a class="btn btn-primary btn-sm mt-2 mb-2" href="/Providers/Create">Naujas tiekėjas</a>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Tipas</th>
			<th>Pavadinimas</th>
			<th>Adresas</th>
			<th>Kodas</th>
			<th>PVM mok. kodas</th>
			<th>PVM mokėtojas</th>
			<th>Sukurtas</th>
			<th>Veiksmas</th>
		</tr>
	</thead>

	<tbody>
		@foreach(var item in Model.listProviders)
		{
			<tr>
				<td>@item.id</td>
				<td>@item.type</td>
				<td>@item.name</td>
				<td>@item.address</td>
				<td>@item.code</td>
				<td>@item.vat_code</td>
				<td>@item.vat_payer</td>
				<td>@item.created_at</td>
				<td>
					<a class="btn btn-primary btn-sm col-8 m-1" href="/Providers/Edit?id=@item.id">Redaguoti</a>
					<a class="btn btn-danger btn-sm col-8 m-1" href="/Providers/Delete?id=@item.id">Ištrinti</a>
				</td>
			</tr>
		}

	</tbody>
</table>